*{
	box-sizing:border-box;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
  color:white;
}

ul li {
	padding:5px;
}
.stats{
	width:25%;
	border-radius:20px;		
}

img{
	width:100px;
	height:100px;
}

span{
    color:red;
}

.container{
	margin:20px auto;
	width:70%;
}

form div {
	margin:10px;
}